---
import MetaTags from "~/components/MetaTags.astro";
---

<html lang="cs">
    <head>
        <MetaTags />
    </head>
    <body>
        <slot />
        <script>
            import { io } from "socket.io-client";

            const socket = io("ws://localhost:3001");
            socket.onAny((event, ...args) => {
                console.log(event, args);
            });
        </script>
    </body>
</html>
